doctype html
html.
<head>
<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

<script src="/javascripts/init.js"></script>
<div id="parent">
!{form}
<form action="/game" method="POST">
<input type="hidden" name="truncate" value="true">
<input type="submit" value="Сбросить">
</form>
</div>
</body>
